<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
function submit() {
  var email = document.getElementById('email').value;
  var pass = document.getElementById('password').value;
  login(email, pass);
}

function login(email, pass) {
  try {
    var fd = new FormData();
    fd.append("email", email);
    fd.append("password", pass);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/login");
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        mycallback(xhr.responseText); // Another callback here
      }
    };
    xhr.send(fd);
  } catch(err) {
    console.log("error: " + err.message);
  }
}

function mycallback(data) {
  try {
    var obj = JSON.parse(data);

    if (obj.succeed) {
      window.location.replace(obj.redirect);
    }
    else {
      document.getElementById("result").innerHTML = obj.info;
    }
  } catch(err) {
    console.log("error: " + err.message);
  }
}
</script>

<meta charset="utf-8">
<title>Music Album Collections</title>
</head>
<body>
<h1>Login</h1>
<label for="email">Email</label>
<input type="text" id="email" name="email">
<label for="password">Password</label>
<input type="password" id="password" name="password">
<button type="submit" onclick="submit()">Login</button>
<button type="submit" onclick="submit()">Register</button>
<div id='result'></div>
</html>