<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
var fileName = '';
function fileSelected() {
  try {
    var file = document.getElementById('TheFile').files[0];
    if (file) {
      fileName = file.name;
    }
  } catch(err) {
    //nothing
  }
  uploadFile();
}

function uploadFile() {
  try {
    var fd = new FormData();
    fd.append("TheFile", document.getElementById('TheFile').files[0]);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/upload");
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        mycallback(xhr.responseText); // Another callback here
      }
    };
    xhr.send(fd);
  } catch(err) {
    document.getElementById("fileForm").submit();
  }
}

function mycallback(data) {
  document.getElementById("result").innerHTML = data;
}

function resizeAlbumCover(data) {
  try {
    var fd = new FormData();
    fd.append("value", data);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/resize");
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        mycallback(xhr.responseText); // Another callback here
      }
    };
    xhr.send(fd);
  } catch(err) {
    //
  }
}

window.onload = function() {
  resizeAlbumCover(fader.value);
}
</script>

<meta charset="utf-8">
<title>Music Album Collections</title>
</head>
<body>

<small>User: {{.User}}</small>
<form method="post" action="/logout">
    <button type="submit">Logout</button>
</form><BR>

<div class="row">
  <div class="col-sm-4" style="width: 50px; float: left;">
    <label for=fader>Size:</label>
  </div>
  <div class="col-sm-4" style="width: 200px; float: left;">
    <input type="range" min="50" max="300" value="10" id="fader" step="10" oninput="resizeAlbumCover(value)" style="width: 150px; float: left; margin: 5px;">
  </div>
  <div class="col-sm-4" style="width: 200px; float: left;">
    <label for=fader>Upload new music album:</label>
  </div>
  <div class="col-sm-4">
    <input type="file" name="TheFile" id="TheFile" onchange="fileSelected()" style="width: 600px; height: 40px; background: white;"><BR>
  </div>
</div>
<div id='result'></div>
</body>
</html>